div.content
	div.container1
		h1 Archived Course Notes
		p
			| Please browse our archive of past courses covered at Harvard from 2008 through 2010.
		ul
			- if ( courses.length > 0 )
				- each course in courses
					li
						- course.section = course.section.replace(/\)/, '')
						a( href = '/archive/course/#{ course.id }' ) #{ course.section + ' - ' + course.name }
			- else
				li No courses found.
