div.footer
	table
		tr
			td.col1
				div.logo
					img(src="/images/logo_finalsclub_footer.gif", title="FinalsClub.org")
				div Copyright 2011
				div All Rights Reserved
			td.col2
				a(href="/about") About
				a(href="/contact") Contact
				a(href="/terms") Legal

div.footerer
	p
		| User-generated content is licensed under a<br>
		a(href="http://creativecommons.org/licenses/by-nc/3.0/us/")
			| Creative Commons Attribution<br>Noncommercial 3.0 United States License
	p
		a(href="http://creativecommons.org/licenses/by-nc/3.0/us/")
			img(src="http://i.creativecommons.org/l/by-nc/3.0/us/88x31.png",style="border-width: 0pt;",alt="Creative Commons License")


	p A service of
		a(href="http://www.veritutors.com")
			div
				img(src="/images/logo_veritas_footer.gif", title="Veritas Tutors")

