div.footer
	table
		tr
			td.col1
				| Copyright 2011 <br> FinalsClub.org <br> All Rights Reserved
			td.col2
				a(href="/terms") Terms of Service
				a(href="/contact") Contact
				a(href="/about") About
				a(href="/privacy") Privacy Policy

p A service of
	a(href="http://www.veritutors.com") Veritas Tutors

p
	| User-generated content is licensed under a<br>
	a(href="http://creativecommons.org/licenses/by-nc/3.0/us/")
		| Creative Commons Attribution<br>Noncommercial 3.0 United States License
p
	a(href="http://creativecommons.org/licenses/by-nc/3.0/us/")
		img(src="http://i.creativecommons.org/l/by-nc/3.0/us/88x31.png",style="border-width: 0pt;",alt="Creative Commons License")


a(href="http://www.veritutors.com",class="veritas-logo") Veritas Tutors

