div.footer
	table
		tr
			td.col1
				| Copyright 2011 <br> FinalsClub.org <br> All Rights Reserved
			td.col2
				a(href="/") Home
				a(href="/terms") Terms of Service
				a(href="/contact") Contact
				a(href="/about") About
				a(href="/privacy") Privacy Policy
