div.contenthome
	div.tagline
		p
			| FinalsClub is the premier web portal for interactive education.
			| Store your notes online, collaborate with classmates, and share knowledge with the world.
		p
			div.button.green Learn something >> 


