div(class='header')
	h1() Finals Club Home Page

div(class='content ylw rnd')
	- if( user )
		span(class='sub_menu')
			a( href='/logout' ) Logout

	- each courses, school in schools
		h2= school
		ul
			- each course in courses
				li
					a( href = 'course/#{ course._id }' ) #{ course.name }
