div.header FinalsClub.org
div.content
	div.menubar
		- if( user )
			span(class='sub_menu')
				a( href='/logout' ) Logout

	div.container1
		- each school, name in schools
			div(class='school')
				h2= name
				ul
					- each course in school.courses
						li
							a( href = 'course/#{ course._id }' ) #{ course.name }

			div
				span(class='sub_menu')
					a( href = '/#{ school._id }/course/new' ) New Course
