form#credentials( action = '/login', method = 'POST' )
	label( for = 'email' ) Username
	input( type = 'text', name = 'email' )

	label( for = 'password' ) Password
	input( type = 'password', name = 'password' )

	button Submit
	a( href = '/register' )
		button Register
