div.content
	div.container1
		h1 Password Reset
		p
			Xxx xxx xxxxxxx xx xxxxxx xxxx xxxxxx-xxxx xxxx xxxx xxx x xxxxxx xxxxxxxx
			xxxx. Xxx xxx xxxx xx xxxx xxxx xxxxxx-xxxx x xxxx xxx x xxxxxx.
			Xxx xxx xxxxxxx xx xxxxxx xxxx xxxxxx xxx xxxx xxxx xxx x xxxxxx xxxxxxxx
			xxxx.
		form#resetpw( action = '/resetpw', method = 'POST' )
			div.area 
				span.text
					P To reset your password, type the full email address you use to sign in to your account and click Submit. An email will be sent to you with the new password.


				div( class = 'row')
					div( class = 'label')
						label( for = 'email' ) Email
					div( class = 'field')
						input( type = 'text', name = 'email', size='15', value = session.email )

				div( class = 'row')
					div( class = 'label')
						&nbsp;
					div( class = 'field', style = 'min-width: 200px' )
						button Submit
				

script
	$( document ).ready( function() {
		if( $( 'input[name=email]' ).val() ) {
			$( 'input[name=password]' ).focus();
		} else {
			$( 'input[name=email]' ).focus();
		}
	});
