div.content
	div.container1
		h1 Old Courses
		p
			| Xxx xxx xxxxxxx xx xxxxxx xxxx xxxxxx-xxxx xxxx xxxx xxx x xxxxxx xxxxxxxx
			| xxxx. Xxx xxx xxxx xx xxxx xxxx xxxxxx-xxxx x xxxx xxx x xxxxxx.
			| Xxx xxx xxxxxxx xx xxxxxx xxxx xxxxxx xxx xxxx xxxx xxx x xxxxxx xxxxxxxx
			| xxxx.
		- if ( courses.length > 0 )
			- each course in courses
				li
					a( href = 'old/course/#{ course.id }' ) #{ course.section }
		- else
			li No courses found.
