div.header Lecture: #{ lecture.name }
div.content
	div.menubar
		- if( user )
			span(class='sub_menu')
				a( href='/logout' ) Logout

	div.container1
		h2 Existing Note Pads

		ul
			- each note in notes
				li
					a( href = '/note/#{ note._id }' ) #{ note.name }
					- if (note.public) 
						|  (Public)
					- else
						|  (Private)

		div
			span(class='sub_menu')
				a( href = '/lecture/#{ lecture._id }/notes/new' ) New Note Pad
