h1 Lecture View - #{ lecture.name }

p Existing Note taking sessions

ul
	- each note in notes
		li
			a( href = '/note/#{ note._id }' ) #{ note.name }

a( href = '/lecture/#{ lecture._id }/notes/new' ) Create new note taking session
