div(class='header')
	h1() New note taking session
div(class='content ylw rnd')
	form( method = 'POST' )
		label( for = 'name' ) Name of note taking session
		input( type = 'text', name = 'name' )

		button Create
