div.header New Notes Session
div.content
	div.container1
		form( method = 'POST' )
			label( for = 'name' ) Name of new note pad
			input( type = 'text', name = 'name' )
			label( for = 'public' ) Public
			input( type = 'checkbox', name = 'public', value='true' )
			button Create
