div.header New Course
div.content
	div.container1
		form( method = 'POST' )
			label( for = 'name' ) New Course name
			input( type = 'text', name = 'name' )
			label( for = 'email' ) Course Instructor Email
			input( type = 'text', name = 'email' )

			button Create
