div.header Course View - #{ course.name }
div.content
	div.menubar
		- if( user )
			span(class='sub_menu')
				a( href='/logout' ) Logout

	div.container1
		h2 Existing Lectures
		ul
			- each lecture in lectures
				li
					a( href = '/lecture/#{ lecture._id }' ) #{ lecture.name }

		div
			span(class='sub_menu')
				a( href = '/course/#{ course._id }/lecture/new' ) New Lecture
